@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');

/* reset css */
    html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
}
/* DEBUT SITE */
main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(../asset/1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
main .search{
    max-width: 80rem;
    height: 7.5rem;
    margin: auto;
    float: right;
}
header h1{
    color: #ff7200;
    font-size: 3.5rem;
    font-family: Arial;
    padding-left: 6.2rem;
    float: left;
    padding-top: 1rem;
    margin-top: 0.5rem;
}
nav ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}
nav ul li{
    list-style: none;
    margin-left: 10rem;
    margin-top: 2.7rem;
    font-size: 1.4rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
nav ul li a:hover{
    color: #ff7200;
}
.search{
    width: 33rem;
    float: left;
    margin-left: 27rem;
}
.search input{
    font-family: 'Times New Roman';
    width: 20rem;
    height: 4rem;
    background: transparent;
    border: 0.1rem solid #ff7200;
    margin-top: 1.3rem;
    color: #fff;
    border-right: none;
    font-size: 1.6rem;
    float: left;
    padding: 1rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}
form input[type="submit"]{
    font-family: Arial;
    width: 10rem;
    height: 4rem;
    background: #ff7200;
    border: .1rem solid #ff7200;
    margin-top: 1.3rem;
    color: #fff;
    font-size: 1.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.search:focus{
    outline: none;
}
section{
    max-width: 140rem;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
section h2{
    font-family: 'Times New Roman';
    font-size: 5rem;
    padding-left: 2rem;
    letter-spacing: 0.2rem;
    margin: 2rem;
    color: #fff;
    margin-top: 15rem;
}
section p{
    color: #fff;
    padding-left: 4rem;
    padding-bottom: 2.5rem;
    font-family: Arial;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    max-width: 80rem;
}
section a{
    width: 16rem;
    height: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #ff7200;
    border: none;
    margin-left: 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease;
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
section a:hover{
    background-color: #fff;
}
section span{
    color: #ff7200;
    font-size: 6.5rem;
}
.form{
    width: 27.4rem;
    height: 50rem;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 50%);
    position: absolute;
    left: 110rem;
    transform: translateY(-37rem);
    border-radius: 1rem;
    padding: 2.5rem;
}

.form h2{
    width: 22rem;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: .1rem;
    padding: .8rem;
}

.form input{
    width: 22rem;
    height: 3.5rem;
    background: transparent;
    border-bottom: 0.1rem solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    font-family: sans-serif;
}
.form p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}
form input:focus{
    outline: none;
}
::placeholder{
    color: rgb(255, 255, 255);
    font-family: Arial;
}

.form input[type="submit"]{
    width: 22rem;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-top: 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
}
.form input[type="submit"]:hover{
    background: #fff;
    color: #ff7200;
}
.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
form p a{
    text-decoration: none;
    color: #ff7200;
}
form p:nth-child(2){
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.icons ion-icon{
    color: #fff;
    font-size: 3rem;
    transition: 0.3s ease;
    margin-left: 1.2rem;
    margin-top: 2rem;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.warning{
    display: none;
}
.warning p{
    color: #e23131;
}
.success{
    padding: 3rem;
    text-align: center;
    border: none;
    width: 50%;
    margin: 0 auto;
    color: rgb(64, 112, 59);
    border-radius: 1rem;
    background-color: #292929;
}
footer p{
    color: #fff;
    text-align: center;
  
}
footer{
    background-color: rgb(1, 1, 1);
    padding: 2rem;
    padding-top: -3rem;
}
@media screen and (max-width: 60rem) and (min-width: 10rem){
    header h1{
        font-size: 4rem;
        margin-left: 6.2rem;
     }
     nav ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.2rem;
    }
    nav ul li{
        list-style: none;
        margin-left: 2rem;
        margin-top: 2.7rem;
        font-size: 1.4rem;
    }
    main .search{
        max-width: 50rem;
        height: 7.5rem;
        margin: auto;
        margin-top: 2rem;
    }
    section h2{
        font-size: 3rem;
        text-align: center;
    }
    section a{
       margin-left: 14rem;
    }
    section span{
        font-size: 3rem;
    }
    section p{
        font-size: 1.5rem;
        max-width: 40rem;
    }
    .form{
        left: 6rem;
        position: relative;
        margin-top: 40rem;
    }
    main{
       min-height: 100vh;
    }
    footer{
        margin-top: 25rem;
    }
    }